* {
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
  background: #d6d6d6;
}

svg {
  width: 937px;
  height: 829px;
}

#canvas {
  width: 937px;
  height: 829px;
  position: absolute;
  top: 0;
  left: 0;
}